.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-dark--0);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s;
}

.nav ul.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.menuIcon {
  cursor: pointer;
  display: block;
  width: 40px;
}

.closeIcon {
  transition: 0.3s;
  width: 35px;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .nav ul {
    position: unset;
    flex-direction: row;
    gap: 4rem;
    background: none;
    width: fit-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0s;
  }

  .menuIcon {
    display: none;
  }
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
